@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(255, 255, 0);
  display: flex;
  height: 100px;
  z-index: 9999;
  width: 100%;
}

.logoheader {
  width: 80px;
  height: 100px;
  margin-left: 50px;
  padding-top: 15px;
}
.logoheader img {
  width: 70%;
}

.headercontainer {
  display: flex;
  align-items: center;
  text-align: end;
}

.menunav {
  position: absolute;
  width: auto;
  width: 100%;
  padding-bottom: 100px;
}

.menu {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1000;
}
.menu ul {
  list-style: none;
  background-color: yellow;
  height: 100%;
  width: 150px;
  z-index: 1000;
  padding: 20px;
  padding-top: 100%;
  padding-bottom: 100%;
  border-radius: 5px;
}
.menu li {
  text-decoration: none;
  padding: 10px;
}
.menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: 0.5s;
}
.menu a:hover {
  color: rgb(26, 198, 49);
}

.menu.activo {
  display: block;
}

.abrir-menu, .cerrar-menu {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 35px;
  position: absolute;
  margin-left: 70%;
  margin-top: 10px;
  width: 50px;
}

.cerrar-menu {
  display: none;
  z-index: 9999;
}

@media (min-width: 769px) {
  .headercontainer {
    display: flex;
    align-items: center;
    text-align: end;
  }
  .menunav {
    position: absolute;
    display: flex;
    width: auto;
    width: auto;
    padding-bottom: 0;
    margin-left: 40%;
  }
  .menu {
    display: flex;
    position: relative;
    right: 0;
    z-index: 0;
  }
  .menu ul {
    display: flex;
    list-style: none;
    background-color: yellow;
    height: 100%;
    width: 100%;
    z-index: 0;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
  }
  .menu.activo {
    display: flex;
  }
  .abrir-menu, .cerrar-menu {
    display: none;
  }
}
.portadainicio {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.portadainicio img {
  text-align: center;
  width: 100%;
  filter: brightness(0.5);
}
.portadainicio h1 {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 30px;
  padding: 50px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra */
}
.portadainicio .btnservicios {
  background-color: yellowgreen;
  font-size: 12px;
  text-decoration: none;
  position: absolute;
  width: auto;
  height: 40px;
  z-index: 1;
  margin-top: 160px;
  border-radius: 5px;
  padding: 10px;
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra */
}
.portadainicio .btnservicios:hover {
  background-color: rgb(160, 160, 25);
  cursor: pointer;
}
.portadainicio .btnservicios a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nosotroscontainer {
  display: block;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.nosotroscontainer h3 {
  color: yellowgreen;
}
.nosotroscontainer img {
  width: 60%;
}

.servicioscontainer {
  display: block;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  padding: 20px;
}
.servicioscontainer h3 {
  color: yellowgreen;
}

.serviciosiconos {
  display: block;
}
.serviciosiconos img {
  width: 50%;
  margin-top: 50px;
}
.serviciosiconos p {
  margin-top: 18px;
  font-size: 20px;
}

.trabajamoscontainer {
  display: block;
  text-align: center;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.trabajamoscontainer h3 {
  color: yellowgreen;
}
.trabajamoscontainer img {
  width: 90%;
}

.contactoform {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 15px;
  text-align: center;
}
.contactoform h3 {
  color: rgb(153, 205, 50);
}
.contactoform .btnformulario {
  background-color: rgb(153, 205, 50);
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Añade una sombra */
}
.contactoform .btnformulario:hover {
  background-color: rgb(160, 160, 25);
  cursor: pointer;
}
.contactoform .btnformulario a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.politicatext {
  text-align: center;
  padding: 20px;
}
.politicatext h3 {
  color: rgb(153, 205, 50);
}

.mision {
  align-items: center;
  text-align: center;
}
.mision .misiontext {
  text-align: center;
  padding: 20px;
}
.mision .misiontext h3 {
  color: rgb(153, 205, 50);
}
.mision img {
  width: 90%;
}

.mapa {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mapa h3 {
  color: rgb(153, 205, 50);
}

.derechos {
  background-color: rgba(152, 208, 61, 0.542);
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px;
}

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  right: 30px;
  bottom: 30px;
  background-color: green;
  color: white;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
}

@media (min-width: 600px) {
  .portadainicio h1 {
    font-size: 50px;
  }
  .portadainicio .btnservicios {
    margin-top: 170px;
  }
}
@media (min-width: 769px) {
  .portadainicio img {
    height: 450px;
    object-fit: cover;
  }
  .portadainicio h1 {
    margin-bottom: 110px;
    font-size: 70px;
  }
  .portadainicio .btnservicios {
    margin-top: 200px;
    width: 300px;
    height: 45px;
  }
  .nosotroscontainer {
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .nosotroscontainer .nosotrostext {
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .nosotroscontainer p {
    padding: 30px;
  }
  .nosotroscontainer .nosotrosimg {
    width: 80%;
  }
  .nosotroscontainer .nosotrosimg img {
    width: 40%;
  }
  .servicioscontainer {
    display: block;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    padding: 20px;
  }
  .servicioscontainer h3 {
    color: yellowgreen;
  }
  .serviciosiconos {
    display: flex;
  }
  .serviciosiconos img {
    width: 40%;
    margin-top: 20px;
  }
  .serviciosiconos p {
    margin-top: 10px;
    font-size: 20px;
  }
  .trabajamoscontainer {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
    width: 100%;
  }
  .trabajamoscontainer .trabajamostext {
    width: 100%;
    padding: 50px;
  }
  .trabajamoscontainer .trabajamostext p {
    width: 100%;
  }
  .trabajamoscontainer h3 {
    color: yellowgreen;
  }
  .trabajamoscontainer .trabajamosimg {
    width: 100%;
  }
  .trabajamoscontainer .trabajamosimg img {
    width: 100%;
    border-radius: 5px;
  }
  .contactoform {
    margin-top: 0px;
  }
  .politica {
    margin: auto;
    width: 50%;
  }
  .politica .politicatext {
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .politica .politicatext h3 {
    color: rgb(153, 205, 50);
  }
  .politica .politicatext p {
    width: 100%;
  }
  .mision {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .mision .misiontext {
    text-align: center;
    padding: 40px;
    width: 100%;
  }
  .mision img {
    border-radius: 5px;
  }
}
footer {
  height: 300px;
  background-color: rgb(255, 255, 0);
  padding: 20px;
}

.horariosfooter {
  text-align: center;
}
.horariosfooter h4 {
  color: rgb(105, 148, 19);
}
.horariosfooter p {
  font-size: 14px;
}

.contactofooter {
  display: block;
  text-align: center;
}
.contactofooter h4 {
  color: rgb(105, 148, 19);
}
.contactofooter p {
  font-size: 14px;
  margin-left: 5px;
  padding: 5px;
  margin-top: 10px;
}
.contactofooter i {
  color: rgb(105, 148, 19);
}

.direccion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.wspicon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 20px;
}

@media (min-width: 769px) {
  footer {
    height: 280px;
    display: flex;
    justify-content: space-around;
  }
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
