footer{
    height: 300px;
    background-color: rgb(255, 255, 0);
    padding: 20px;
}

.horariosfooter{
text-align: center;
h4{
    color: rgb(105, 148, 19);
}
p{
    font-size: 14px;
}
}

.contactofooter{
    display: block;
    text-align: center;
    h4{
        color:rgb(105, 148, 19);
    }
    p{
        font-size: 14px;
        margin-left: 5px;
        padding: 5px;
        margin-top: 10px;
    }
    i{
        color:rgb(105, 148, 19) ;
    }
    }

    .direccion{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    .email{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
    }
    .wspicon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        margin-top: 20px
    }

    @media(min-width:769px){

        footer{
            height: 280px;
            display: flex;
            justify-content: space-around;
        }
        }